{% extends 'base.html' %} {% block title %}VAM Scenery{% endblock %} {% block body %}

<div class="title">VaM Scenery</div>

<div class="actions"><a href="/settings" class="gear" title="Settings"></a></div>

<form class="toolbar">
    <label>
        Sort By
        <select name="sort">
            <option>Name</option>
            <option value="new" {% if sort=='new' %}selected{% endif %}>
                New to Old
            </option>
            <option value="old" {% if sort=='old' %}selected{% endif %}>
                Old to New
            </option>
        </select>
    </label>
    <label>
        Filter
        <input type="text" name="filter" value="{{ filter if filter }}">
    </label>
    <input class="button" type="submit">
    {% if filter %}<p><a class="button" href="/">Reset</a></p>{% endif %}
</form>

<div class="container">
{% for vac in vacs %}
    <a
        class="card"
        href="/preview/{{ vac.name }}"
        style="background-image: url('/thumbnails/{{ vac.name }}')"
    >
        <div class="caption">{{ vac.name[:-4] }}</div>
    </a>
{% endfor %}


</div>
{% endblock %}

